.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  gap: 5rem;
}

.signal {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  gap: 10px;
}
.red {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-color: red;
  border: 1px solid black;
}
.yellow {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-color: rgb(255, 188, 63);
  border: 1px solid black;
}
.green {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-color: green;
  border: 1px solid black;
}
.white {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 1px solid black;
}
